In [1]:
import numpy as np
import pandas as pd
from sklearn import neighbors as nn

In [2]:
from HVDM import HVDM

In [22]:
df = pd.read_csv("covid19.csv",header=None,index_col=False)
df

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,AFG,Asia,Afghanistan,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,31,12,2019,2,1,0,0
1,AFG,Asia,Afghanistan,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,1,1,2020,3,1,1,0
2,AFG,Asia,Afghanistan,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,2,1,2020,4,1,0,0
3,AFG,Asia,Afghanistan,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,3,1,2020,5,1,0,0
4,AFG,Asia,Afghanistan,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,4,1,2020,6,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35843,ZWE,Africa,Zimbabwe,4395.0,56.0,97.0,13.0,295.702,3.768,6.526,...,36.791,1.7,61.49,7,8,2020,5,32,0,0
35844,ZWE,Africa,Zimbabwe,4451.0,56.0,102.0,5.0,299.470,3.768,6.863,...,36.791,1.7,61.49,8,8,2020,6,32,0,0
35845,ZWE,Africa,Zimbabwe,4575.0,124.0,102.0,0.0,307.813,8.343,6.863,...,36.791,1.7,61.49,9,8,2020,7,32,0,1
35846,ZWE,Africa,Zimbabwe,4649.0,74.0,104.0,2.0,312.792,4.979,6.997,...,36.791,1.7,61.49,10,8,2020,1,33,0,0
35847,ZWE,Africa,Zimbabwe,4748.0,99.0,104.0,0.0,319.453,6.661,6.997,...,36.791,1.7,61.49,11,8,2020,2,33,0,1

In [23]:
df.dtypes

0      object
1      object
2      object
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30    float64
31    float64
32    float64
33    float64
34      int64
35      int64
36      int64
37      int64
38      int64
39      int64
40      int64
dtype: object

In [24]:
list(df[0].unique()).index("AFG")

0

In [25]:
df[0] = df[0].apply(lambda s: list(df[0].unique()).index(s))
df[1] = df[1].apply(lambda s: list(df[1].unique()).index(s))
df[2] = df[2].apply(lambda s: list(df[2].unique()).index(s))
df

263263

264264264


265265

266266

267267

268
269269

270270

271271

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,0,0,0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,31,12,2019,2,1,0,0
1,0,0,0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,1,1,2020,3,1,1,0
2,0,0,0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,2,1,2020,4,1,0,0
3,0,0,0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,3,1,2020,5,1,0,0
4,0,0,0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,37.746,0.5,64.83,4,1,2020,6,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35843,209,2,209,4395.0,56.0,97.0,13.0,295.702,3.768,6.526,...,36.791,1.7,61.49,7,8,2020,5,32,0,0
35844,209,2,209,4451.0,56.0,102.0,5.0,299.470,3.768,6.863,...,36.791,1.7,61.49,8,8,2020,6,32,0,0
35845,209,2,209,4575.0,124.0,102.0,0.0,307.813,8.343,6.863,...,36.791,1.7,61.49,9,8,2020,7,32,0,1
35846,209,2,209,4649.0,74.0,104.0,2.0,312.792,4.979,6.997,...,36.791,1.7,61.49,10,8,2020,1,33,0,0
35847,209,2,209,4748.0,99.0,104.0,0.0,319.453,6.661,6.997,...,36.791,1.7,61.49,11,8,2020,2,33,0,1

In [26]:
df[[0,1,2]] = df[[0,1,2]].astype("category")
df[[34,35,36,37,38,39,40]] = df[[34,35,36,37,38,39,40]].astype("category")

for i in range(3,34):
    df[i] = df[i] / df[i].max()

In [27]:
df.describe()

,3,4,5,6,7,8,9,10,11,12,...,24,25,26,27,28,29,30,31,32,33
count,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,...,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000
mean,0.005925,0.007140,0.009047,0.004168,0.031622,0.003844,0.035703,0.002678,0.006153,0.004890,...,0.288471,0.162736,0.089120,0.310895,0.320359,0.177635,0.293276,0.219663,0.185877,0.844727
std,0.037206,0.044798,0.051391,0.024926,0.074499,0.012949,0.103067,0.014660,0.041377,0.035305,...,0.244225,0.176606,0.202140,0.186174,0.191948,0.231510,0.239042,0.333712,0.188882,0.126434
min,0.000000,-0.031379,0.000000,-0.389205,0.000000,-0.053634,0.000000,-0.205074,-0.004038,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000005,0.000000,0.000000,0.000000,0.000256,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.096415,0.026106,0.000000,0.177073,0.204623,0.000000,0.000000,0.000000,0.050725,0.805418
50%,0.000101,0.000077,0.000061,0.000000,0.004777,0.000174,0.002048,0.000000,0.000000,0.000000,...,0.190288,0.104645,0.002577,0.301811,0.301370,0.047727,0.306018,0.000000,0.144928,0.873775
75%,0.001168,0.001390,0.000722,0.000406,0.027833,0.002360,0.020546,0.000735,0.000692,0.000426,...,0.497864,0.252115,0.032216,0.419917,0.431507,0.318182,0.481434,0.423732,0.260870,0.922997
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [28]:
Y = df[40]
X = df.drop([40],axis= 1)

In [29]:

hvdm_metric = HVDM(df,40,[0,1,2,34,35,36,37,38,39])

In [30]:
Y[Y==0].count()

23327

In [31]:
Knn = nn.KNeighborsClassifier(metric = hvdm_metric.hvdm,algorithm="brute", n_jobs=-1)

In [12]:
X.describe()

,3,4,5,6,7,8,9,10,11,12,...,24,25,26,27,28,29,30,31,32,33
count,3.584800e+04,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,3.584800e+04,...,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000,35848.000000
mean,3.018504e+04,560.000669,1478.834830,20.541313,1243.153167,19.005809,44.184882,0.535636,5703.118193,3.021797e+05,...,5.334689,19029.658259,6.915741,225.217341,7.483589,7.815920,22.904832,21.746443,2.565104,73.280093
std,1.895409e+05,3513.342109,8400.379804,122.836727,2928.742220,64.023875,127.550549,2.932495,38351.189543,2.181604e+06,...,4.516452,20651.576614,15.686066,134.867845,4.483908,10.186425,18.669149,33.037164,2.606578,10.968142
min,0.000000e+00,-2461.000000,0.000000,-1918.000000,0.000000,-265.189000,0.000000,-41.023000,-3743.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.300000e+01,0.000000,0.000000,0.000000,10.066750,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,1.783000,3052.714000,0.000000,128.275000,4.780000,0.000000,0.000000,0.000000,0.700000,69.870000
50%,5.140000e+02,6.000000,10.000000,0.000000,187.799000,0.861000,2.535000,0.000000,0.000000,0.000000e+00,...,3.519000,12236.706000,0.200000,218.637000,7.040000,2.100000,23.900000,0.000000,2.000000,75.800000
75%,5.951250e+03,109.000000,118.000000,2.000000,1094.205750,11.667500,25.427000,0.147000,641.250000,2.635200e+04,...,9.207000,29481.252000,2.500000,304.195000,10.080000,14.000000,37.600000,41.949000,3.600000,80.070000
max,5.094394e+06,78427.000000,163461.000000,4928.000000,39312.614000,4944.376000,1237.551000,200.040000,926876.000000,6.179257e+07,...,18.493000,116935.600000,77.600000,724.417000,23.360000,44.000000,78.100000,98.999000,13.800000,86.750000

In [32]:
Knn.fit(X,Y)

KNeighborsClassifier(algorithm='brute',
                     metric=<bound method HVDM.hvdm of <HVDM.HVDM object at 0x11b2c6cc0>>,
                     n_jobs=-1)

In [33]:
majorityClass = np.bincount(Y).argmax()

In [15]:
majorityClass

0

In [34]:
category = ["safe","borderline","rare","outlier"]

X[Y != majorityClass]

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
56,0,0,0,1.962942e-07,0.000013,0.000000,0.000000,6.613653e-07,0.000005,0.000000,...,0.000000,0.381277,0.036232,0.747320,25,2,2020,2,9,0
63,0,0,0,7.851768e-07,0.000038,0.000000,0.000000,2.620024e-06,0.000016,0.000000,...,0.000000,0.381277,0.036232,0.747320,8,3,2020,7,10,0
66,0,0,0,3.140707e-06,0.000077,0.000000,0.000000,1.045466e-05,0.000031,0.000000,...,0.000000,0.381277,0.036232,0.747320,16,3,2020,1,12,0
71,0,0,0,4.711061e-06,0.000026,0.000000,0.000000,1.569471e-05,0.000010,0.000000,...,0.000000,0.381277,0.036232,0.747320,21,3,2020,6,12,0
73,0,0,0,6.674003e-06,0.000128,0.000000,0.000000,2.220661e-05,0.000052,0.000000,...,0.000000,0.381277,0.036232,0.747320,23,3,2020,1,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35833,209,2,209,5.307795e-04,0.002448,0.000220,0.000406,4.627751e-03,0.002613,0.001957,...,0.393086,0.371630,0.123188,0.708818,28,7,2020,2,31,0
35836,209,2,209,6.069417e-04,0.002716,0.000324,0.002435,5.291788e-03,0.002898,0.002881,...,0.393086,0.371630,0.123188,0.708818,31,7,2020,5,31,0
35838,209,2,209,7.182405e-04,0.006248,0.000422,0.000406,6.262189e-03,0.006668,0.003751,...,0.393086,0.371630,0.123188,0.708818,2,8,2020,7,31,0
35845,209,2,209,8.980460e-04,0.001581,0.000624,0.000000,7.829879e-03,0.001687,0.005546,...,0.393086,0.371630,0.123188,0.708818,9,8,2020,7,32,0
35847,209,2,209,9.320049e-04,0.001262,0.000636,0.000000,8.125967e-03,0.001347,0.005654,...,0.393086,0.371630,0.123188,0.708818,11,8,2020,2,33,0

In [ ]:
nearest = Knn.kneighbors(X[Y != majorityClass], n_neighbors= 6, return_distance= False)

00

272272

1
1
273
2
2
274
33
3

275275

4
276
5
5
277
66

278
7
279
8
8
280
9
281
10
10
282
11
283
12
284
13
285
14
286
1515

287287

1616

288
17
289289289


18
18
290
19
291
20
292
21
293293293


2222

294
23
295295295


24
2525

296296

2626

297
27
298298298


28
299299

29
300300

30
301301

31
302
32
303
33
304304

34
305305

35
306
36
307
37
308
38
309
3939

310
40
311311
311

4141

312
312
4242

313313313


43
314314

44
315315

45
45
316316

46
47
317
48
318
49
319
5050

320
5151

321321
321

52
322
5353

323
323
54
324324

5555

325325

565656


326
5757

327
58
328
59
329
6060

330
61
331
62
332332

6363

333
64
334334

65
335335

66
336
6767

337
68
69
338
7070

339
7171
71

340
72
341
7373

342
342
747474


343343343


757575


344
76
345345

77
346346

7878

347
79
348
80
349
818181


350
82
351351

83
352352

8484

353353

85
354
86
355355
355

8787

356
88
357
89
358
90
359
91
92
360
9393

361
361
94
362
362
9595

363363

96
364
9797

365365

9898

366366366


99
367367

100
368
101
369
102
370370

103103

371371

104
104
372
105105

373
106
374
107
375
108
376
109109

377
110
378378

111111
111

379
112
112
380
113113

114
114
381
381
115
382382

116116

383383

117117
117

384
118118118


385
119
386386

120120
120

387
121121121


388
122122122


389389

123123

390
390
124
391391

125
392392

126
393393
393

127
394
128
395
129
396396
396

130
397
131131

398
132
399399

133133

400
134
401
135
402402
402402


136
403
403
137137

404
138138

405
139139

406406406


140140

407
407
407
141141

408
142142142142



409409
409

143
410
144144

411
145
412412
412

146
413413

147
414414

148
415
149
416416

150
417417

151151

418
152152

419419

153153

420
420
154154154


421421

155155

422422

156156

423423

157

In [ ]:
results = pd.DataFrame(columns = ["i","class", "category"])
for n in nearest:
    cl = Y[n[0]]
    same = 0
    other = 0
    category = "safe"
    for nnn in n:
        if Y[nnn] == cl:
            same += 1
        else:
            other += 1
    if same == 1:
        category = "outlier"
    elif same <= 2:
        category = "rare"
    elif same <= 4:
        category = "borderline"
        
    df2 = pd.DataFrame([[n[0],cl,category]],columns = ["i","class", "category"])

    results = results.append(df2)

    
    
results

In [ ]:
zeros = results[results["class"]==majorityClass].count()[0]
ones = results[results["class"]!= majorityClass].count()[0]

In [ ]:
categories_counts = results.groupby(["class","category"]).count()
categories_counts = categories_counts.reset_index()
categories_counts

In [ ]:
def map_p(i):
    divider = zeros
    if categories_counts["class"][i] != majorityClass:
        divider = ones
    return int(categories_counts["i"][i] * 10000/divider) / 100



categories_counts["p"] = pd.Series(categories_counts.index).apply(map_p)

In [ ]:
categories_counts

228
229229

230
231231
231

232232

233233
233

234234

235
236
237237
237

238238238


239239

240240

240
241241

242242242


243243

244
245245

246
247247

248
248
249249249


250
251
252252

253253

254
255
256256256


257257

258258258


259259

260260260